using System;
using System.Collections.Generic;
using System.Text;

namespace timetable_management_system.Config
{
    class DbConfig
    {
        public static string getConnectionString()
        {
            string connectionString = "your connection string here";

            return connectionString;
        }
    }
}
